%table.table
  %tr
    %th #ID
    %th Total
    - if status == 'ordered' || status == 'paid'
      %th
      %th
    %th
  - orders.each do |order|
    %tr
      %td= order.id
      %td= order.total
      %td
        = link_to order_path(order.id) do
          %span.glyphicon.glyphicon-zoom-in
          Show
      - if status == 'ordered' || status == 'paid'
        %td
          = link_to order_path(id: order.id, order: { status: 'cancelled' }), method: :put do
            %span.glyphicon.glyphicon-trash
            Cancel
      - if status == 'ordered'
        %td
          = link_to order_path(id: order.id, order: { status: 'paid' }), method: :put do
            %span.glyphicon.glyphicon-usd
            Mark as paid
      - if status == 'paid'
        %td
          = link_to order_path(id: order.id, order: { status: 'completed'}), method: :put do
            %span.glyphicon.glyphicon-check
            Mark as completed
