%table.table
  %tr
    %th #ID
    %th Total
    - if status == 'ordered' || status == 'paid'
      %th
      %th
    %th
  - orders.each do |order|
    %tr
      %td= order.id
      %td= order.total
      %td= link_to 'Show', order_path(order.id)
      - if status == 'ordered' || status == 'paid'
        %td= link_to 'Cancel', order_path(id: order.id, order: { status: 'cancelled' }), method: :put
      - if status == 'ordered'
        %td= link_to 'Mark as paid', order_path(id: order.id, order: { status: 'paid' }), method: :put
      - if status == 'paid'
        %td= link_to 'Mark as completed', order_path(id: order.id, order: { status: 'completed'}), method: :put
