= form_for @item,  html: { class: 'form-horizontal', multipart: true } do |f|
  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :price, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :price, class: 'form-control', step: 0.01
  .form-group
    = f.label :image, class: 'col-sm-2 control-label'
    .col-sm-10
      =f.file_field :image, accept: 'image/jpeg, image/gif, image/png'
  .form-group
    = f.label 'Categories:', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_check_boxes :category_ids, Category.all, :id, :name
  .form-group
    .col-sm-offset-5.col-sm-7
      = f.submit
