.panel.panel-default
  .panel-heading
    = @item.title
  .panel-body
    .col-md-4
      = image_tag(@item.image.medium.url)
    .col-md-8
      %p
        = @item.description
      %p
        Price:
        = @item.price
      - if @item.retired? ? false : (user_logged_in? ? !current_user.admin? : true)
        %p
          = add_to_cart(@item)
      %p
        = link_to 'Back', items_path
        - if user_logged_in? && current_user.admin?
          = link_to 'Edit', edit_item_path(@item)
