.col-sm-9
  = form_for order_item, remote: true do |f|
    .col-sm-3
      = f.number_field :quantity, in: 1..20, class: 'nfield'
    .col-sm-2
      = f.label ' x'
    .col-sm-4
      = f.fields_for order_item.item do |fi|
        = fi.label fi.object.send(:title)
    .col-sm-3
      = button_tag type: 'submit', class: "update-quantity" do
        %span.glyphicon.glyphicon-pencil
        Update
