= form_for order_item do |f|
  %td= f.number_field :quantity, in: 1..20
  %td= f.label ' x'
  = f.fields_for order_item.item do |fi|
    %td= fi.label fi.object.send(:title)
  %td
    = f.submit 'Update'
