.well
  %h1= @category.name
%table.table.table-hover
  %tr
    %th
    %th Title
    %th Description
    %th Price
    %th
  - @items.each do |item|
    %tr
      %td= image_tag(item.image.small.url)
      %td= link_to item.title, item
      %td= item.description
      %td= item.price
      %td
        - if user_logged_in? ? !current_user.admin? : true
          = link_to order_items_path(item_id: item.id), method: :post do
            %span.glyphicon.glyphicon-plus
            Add to cart
- if user_logged_in? && current_user.admin?
  %p
    = link_to 'New Category', new_category_path
