!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DinnerDash
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand Dinner Dash
        %ul.nav.nav-pills
          %li
            = link_to root_path do
              %span.glyphicon.glyphicon-home
              Home
          - unless user_logged_in?
            %li.pull-right= link_to 'Sign up', register_path
            %li.pull-right= link_to 'Sign in', login_path
          - else
            - if user_logged_in?
              %li
                = link_to orders_path do
                  %span.glyphicon.glyphicon-th-list
                  Orders
            %li.pull-rigth
              = link_to logout_path do
                %span.glyphicon.glyphicon-off
                Log out
    .container
      .col-md-8
        - flash.each do |key, value|
          %div{class: "alert alert-#{key}"}= value
        = yield
      - if Category.any? || cart_has_items?
        .col-md-4
          .well
            - if cart_has_items?
              = render partial: "carts/cart"
            - Category.all.each do |category|
              %p
                = link_to category.name, category_path(category)
            - if user_logged_in? && current_user.admin?
              %p
                = link_to 'New Category', new_category_path
    %hr
    .footer
      %center
        &copy; Dinner Dash by Krzysztof Kołek
