!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DinnerDash
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand Dinner Dash
        %ul.nav.nav-pills
          %li
            = link_to root_path do
              %span.glyphicon.glyphicon-home
              Home
    .container
      .col-md-8
        - flash.each do |key, value|
          %div{class: "alert alert-#{key}"}= value
        = yield
      .col-md-4
        .well
          - if @cart && !!@cart.order_items
            = render partial: "carts/cart"
          - Category.all.each do |category|
            = link_to category.name, category_path(category)
    %hr
    .footer
      %center
        &copy; Dinner Dash by Krzysztof Kołek
